* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDF0F7;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-image: url(./img/Picture/Head\ Pic.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0000003f;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
    margin: 15px 30px;
    align-items: center;
    position: fixed;
    width: 95vw;
    z-index: 999;
    backdrop-filter: blur(8px);
}

header ul {
    display: flex;
    gap: 30px;
    height: 1.5rem;
}

header ul li {
    list-style: none;
}

header ul a li {
    color: white;
    font-size: 18px;
}

header ul li:hover,
header ul li:active {
    border-bottom: 2px solid white;
}

header .btn {
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
}

header .btn:hover {
    background-color: #099dff;
    color: #EDF0F7;
}


/* ---------------------- */

.main-text {
    text-align: center;
    padding-top: 13rem;
    height: 100vh;
}

.main-text h1 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 6rem;
}

.main-text a {
    padding: 0.8rem 4rem;
    background-color: #fff;
    border-radius: 2rem;
    color: #000;
    font-size: 1.3rem;
}

.main-text a:hover {
    background-color: #0081fab4;
    /* transform: scale(1.1); */
    color: #EDF0F7;
    font-size: 1.5rem;

}

.text_bg {
    margin-top: 20rem;
    height: 100vh;
    width: 99vw;
    padding: 2rem;
    color: #fff;
    line-height: 3.5rem;
    font-size: 1.6rem;
}

.text_bg h1 {
    padding-left: 10rem;
}

.text_bg h2 {
    float: right;
    position: relative;
    top: 40rem;
    right: 15rem;

}

.text-one {
    margin-top: 9rem;
    width: 100vw;
    height: 300vh;
    color: #fff;
    background-image: url(./img/Picture/Hueman\ Concept.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 7rem 0;
    position: relative;

}

.text-one h1 {
    text-transform: lowercase;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 4rem;


}

.conti {
    display: flex;
    justify-content: center;
}

.section_one {
    position: absolute;
    bottom: 8%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    grid-gap: 9rem;
}

.section_one p {
    font-size: 1rem;
}


.cns strong {
    font-size: 3rem;
    letter-spacing: 0.1rem;

}

.cns a {
    color: white;
    font-size: 2rem;
}

.link {
    padding-top: 6rem;
    align-items: center;
}

.link i {
    padding-left: 2.5rem;
    font-size: 3rem;
    transform: rotate(45deg);
}

.section_two,
.text_t {
    text-align: center;
    padding: 8rem 0 5rem 0;
    font-size: 1.5rem;

}

.section_three,
.section_four {
    background-color: #fff;
    width: 98vw;
    border-radius: 1.5rem;
    margin: auto;
    text-align: center;
    padding: 1.5rem 0;
}

.section_three .magic {
    width: 95vw;
    border-radius: 0.8rem;
}

.section_three .child_one {
    display: flex;
    justify-content: space-around;
    padding: 8rem;
    text-align: left;
}

.section_three .child_one h1,
.section_four .child h1 {
    font-size: 5rem;
}

.section_three .child_one i {
    margin-left: 2rem;
    transform: rotate(120deg);
}

.section_three .child_one p {
    margin-top: 8rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.section_four {
    margin-top: 2rem;
    text-align: center;
    overflow: hidden;

}

.section_four .child {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.section_four .child h3 span {
    font-size: 1.8rem;
}

.section_four .child p {
    padding-top: 2rem;
    width: 30rem;
    line-height: 1.5rem;
    font-weight: 600;

}

.section_four .child i {
    margin-left: 2rem;
    transform: rotate(120deg);

}

.section_four .img {
    height: 80vh;
    /* width: 100vw; */
    margin: auto;
    overflow: hidden;
    margin-bottom: 3rem;
}

.section_four .img p {
    position: relative;
    bottom: 60%;
    left: 8%;
    color: #fff;
    font-size: 2.5rem;
    width: 30rem;
    text-align: left;
}


.section_four .img img {
    width: 94vw;
    border-radius: 0.8rem;

}

/* ====== */
.container_1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-family: "poppins", sans-serif;
}

.container_1 .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 800px;
    max-width: 100vw;
    width: calc(100% - 100px);
    height: 600px;
}

.container_1 .options .option {
    position: relative;
    overflow: hidden;
    min-width: 430px;
    margin: 10px;
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 1s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.container_1 .options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 900px;
    margin: 0px;
    border-radius: 20px;
    background-size: auto 100%;
    border: 5px solid #fff;
}

.container_1 .options .option:not(.active) {
    flex-grow: 2;
    border-radius: 20px;
}

.container_1 .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.container_1 .options .option:not(.active) .label {
    top: 20px;
    left: 20px;
}

.container_1 .options .option.active .label {
    top: 20px;
    left: 20px;
}

.container_1 .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #FFF;
    color: var(--defaultBackground);
}

.container_1 .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    white-space: pre;
    text-align: left;
    line-height: 25px;
}

.container_1 .options .option .label .info>div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.container_1 .options .option .label .info .main {
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

.container_1 .options .option .label .info .sub {
    transition-delay: 0.1s;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.container_1 .options .option:nth-child(1) {
    --defaultBackground: #ED5565;
}

.container_1 .options .option:nth-child(2) {
    --defaultBackground: #FC6E51;
}

.container_1 .options .option:nth-child(3) {
    --defaultBackground: #FFCE54;
}

.container_1 .options .option:nth-child(4) {
    --defaultBackground: #2ECC71;
}

.container_1 .options .option:nth-child(5) {
    --defaultBackground: #5D9CEC;
}

.container_1 .options .option:nth-child(6) {
    --defaultBackground: #AC92EC;
}

@media screen and (max-width: 718px) {
    .container_1 .options {
        min-width: 520px;
    }

    .container_1 .options .option:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 638px) {
    .container_1 .options {
        min-width: 440px;
    }

    .container_1 .options .option:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 558px) {
    .container_1 .options {
        min-width: 360px;
    }

    .container_1 .options .option:nth-child(3) {
        display: none;
    }
}

/* ============== */

.text_t h1 {
    width: 50rem;
    margin: auto;
    text-align: center;
}


.slides {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin-bottom: 10rem;
    padding: 0;
    margin-bottom: 15rem;
    position: relative;
    height: 100%;
    display: block;
}

.swiper {
    /* width: 100%; */
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    /* width: 100rem; */
    height: 30rem;
    overflow: hidden;
}

.swiper-slide .text_text {
    padding: 6rem;
    text-align: left;
}


.swiper-slide .text_text p {
    padding-top: 4rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 300%;
    height: 300px;
    margin: 50px -100rem;
}

.swiper-wrapper {
    display: flex;

}


footer {
    height: 30rem;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    padding: 5rem;
    margin-top: 8rem;
}

footer img {}

.bgf {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}

.bgf .one p {
    padding-top: 8rem;
    width: 20rem;
    font-size: 1rem;
    font-weight: 600;
}

.bgf ul {
    padding-top: 2rem;
}

.bgf .two ul li {
    line-height: 2.5rem;
}

footer li {
    list-style: none;

}

.bgf ul li {
    line-height: 2rem;
}

footer .five ul {
    display: flex;
    gap: 1.5rem;
}

footer a {
    color: #000;
}

footer>p {
    text-align: center;
    padding-top: 3rem;
}


/* respons.... */

@media (min-width:1080px) {
    .section_three img {
        width: 64rem;
    }
}

@media (max-width:1520px) {
    .text_bg {
        height: 62vh;
        width: 100vw;
        font-size: 1.4rem;
    }

    .text_bg h2 {
        top: 22rem;
        right: 6rem;
    }

    .text_bg h1 {
        padding-left: 9rem;
        font-size: 2.2rem;
    }

    .text-one {
        height: 267vh;
    }

    .section_four .img p {
        width: 50rem;
        padding: 18rem 7rem;
    }
}

@media (max-width:1420px) {
    .text_bg {
        margin-top: 3rem;
        height: 62vh;
        width: 100vw;
        font-size: 1.4rem;
    }

    .text_bg h2 {
        top: 22rem;
        right: 6rem;
    }

    .text_bg h1 {
        padding-left: 9rem;
        font-size: 2.2rem;
    }

    .text-one {
        height: 227vh;
    }

    .text-one h1 {
        font-size: 3rem;
    }

    .section_four .img p {
        width: 50rem;
        padding: 18rem 7rem;
    }

    .cns strong {
        font-size: 2rem;
    }

    .link i {
        padding-left: 1.5rem;
        font-size: 2rem;
    }
}

.logo_section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 80vw;
    text-align: center;
    margin: auto;
}

.logo_section img {
    width: 15rem;
    padding: 20px;
    margin: auto;

}

/* corsur  */
.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #424040;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 9999;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #3b3737;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}


p:hover~.cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #111111;
    opacity: 1;
    width: 100px;
    height: 100px;
}

.content:hover~.cursor2 {
    opacity: 0;
}

/* scoll bar */

html::-webkit-scrollbar {
    width: .4vw;
    border-radius: 2rem;
}

html::-webkit-scrollbar-track {}

html::-webkit-scrollbar-thumb {
    background-color: #0081fa;
    border-radius: 4rem;
}



a:hover {
    transform: scale(1.1);
}

li:hover {
    transform: scale(1.1);
}

i:hover {
    transform: scale(1.1);
}

.blue:active,
.blue:hover {
    color: #005baf;
}

@media screen and (max-width: 390px) {

    header ul,
    .cursor,
    .cursor2 {
        display: none;
    }

    .main-text h1 {
        font-size: 26px;
        margin-bottom: 2rem;
    }

    .main-text {
        padding-top: 4rem;
        height: 48vh;
    }

    .main-text a {
        padding: 0.4rem 1rem;
        font-size: 1rem;
    }

    .text_bg {
        display: none;
    }

    .text-one h1 {
        font-size: 1rem;
        top: 0;
    }

    .section_one {
        bottom: 62%;
    }
}